<h2>Test dialog Popup</h2>
<p>
    <hr />
    <label for="test-input">Some Label</label>
    <input id="test-input" type="text" />
    <hr />
    <label for="test-input2">Another Input positioned differently</label>
    <input id="test-input2" type="text" />
</p>

