<h2>Test dialog Popup</h2>
<p>
    <hr />
    <label for="test-input">Some Label</label>
    <input id="test-input" type="text" />
    <hr />
    <label for="test-input2">Another Input positioned differently</label>
    <input id="test-input2" type="text" />
</p>

<fieldset>
    <legend>A more complex set of inputs with different position/layout properties</legend>

    <div class="input-area-1">
        <div class="section-one">
            <select data-hint-text="Select Help" class="hintBox">
                <option>-- Select Me --</option>
                <option>One</option>
                <option>One</option>
                <option>One</option>
            </select>
            <div>
                <label for="date-input">Some Input</label>
                <input data-hint-text="Some Input Help" class="hintBox" type="date" id="date-input" />
            </div>
        </div>
        <div class="section-two">
        </div>
    </div>

    <div class="input-area-2">
        <div class="section-one">
            <div>
                <label for="email-input">More Input</label>
                <input data-hint-text="Email Help"  class="hintBox" type="email" id="email-input" />
            </div>
        </div>
        <div class="section-two">
        </div>
    </div>
</fieldset>

