body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

    fieldset div.input-area-1 {
        margin-top:30px;
        border:1px dotted green;
        height:60px;
        padding:10px;
    }

        fieldset div.input-area-1 select {
            position: relative;
            margin-left: 240px;
        }
        fieldset div.input-area-1 div {
            float:left;
            margin-left:230px;
        }

    fieldset div.input-area-2 {
        position:absolute;
        border:1px dashed grey;
        top:400px;
        left:450px;
        padding:10px;
    }

    fieldset div.input-area-2 div {
        position:relative;
    }
